/* 글로벌 */



/* 페이지 */
/* 메인 - 서비스 소개 */
.mainPage{
    /* 메인 - 서비스 소개 - 홈 */
    & .homeArea{padding-block: 120px 124px;
        & > div{
            & .textArea{
                & h2{font-size: 60px; line-height: 77px;}
                & ul{margin-top: 80px;
                    & li{
                        &:not(:last-child){margin-bottom: 40px;}
                        & div{padding-top: 5px;
                            & small{font-size: 15px; line-height: 20px; margin-bottom: 7px;}
                            & b{font-size: 18px; line-height: 21px;}
                        }
                    }
                }
            }
        }
    }

    /* 메인 - 서비스 소개 - 홈 */
    & .appArea{
        & li{
            & [class*='img-app']{--width: 160px;}
        }
    }

    /* 메인 - 서비스 소개 - 문의 */
    & .inquiryArea{
        &::before{margin-right: 80px;}
    }
}