
/* 메인 - 서비스 소개 */
.mainPage{
    /* 메인 - 서비스 소개 - 홈 */
    & .homeArea{background: url('../images/main-bg.png') no-repeat center / cover;
        & > div{
            & .textArea{color: white;
                & h2{font-weight: 700; max-width: 325px;}
                & ul{
                    & li{display: flex; align-items: flex-start;
                        & [class*='img-app']{}
                        & div{
                            & small{display: block; font-weight: 500; color: rgba(255, 255, 255, 0.7);}
                            & b{font-weight: 700;}
                        }
                    }
                }
            }
            & .gifArea{display: flex; justify-content: space-between; align-items: flex-start;}
        }
    }

    /* 메인 - 서비스 소개 - 홈 */
    & .appArea{
        & li{flex: 1;
            &:not(:last-child){border-style: solid; border-color: var(--colorLine);}
            &::before{margin-bottom: 20px;}
            & strong{display: block; font-weight: 700;}
            & [class*='img-app']{margin: 0 auto 40px;}
            & b{display: block; font-weight: 700; margin-bottom: 20px;}
            & p{font-weight: 300; color: var(--colorFont01);}
            & a{
                &[class]{margin-inline: auto;}
                &:last-child{font-size: 14px; font-weight: 700; line-height: 16px; color: var(--colorFont02); text-decoration: underline; margin-top: 40px;}
            }
        }
    }

    /* 메인 - 서비스 소개 - 파트너스 */
    & .partnersArea{text-align: center;
        &.fullBg{--bg: var(--colorPlane02);}
        & h3{font-weight: 700; margin-bottom: 20px;}
        & p{font-weight: 300; line-height: 20px; color: var(--colorFont01);}
        & ul{display: flex; flex-wrap: wrap; justify-content: center;
            & li{width: var(--width); background-image: url('../images/main-fitness.png'); background-repeat: no-repeat; background-position-x: 0; background-size: 100%; text-indent: -9999px;}
        }
    }

    /* 메인 - 서비스 소개 - 문의 */
    & .inquiryArea{color: white; font-weight: 700;
        &.fullBg{--bg: var(--colorPoint01);}
        &::before{content: ''; width: 96px; aspect-ratio: 1; background: url('../images/icon-inquiry.png') no-repeat center / cover;}
        & a{text-align: center; background-color: rgba(255, 255, 255, 0.2);}
    }
}


/* 어복황제, 어복황제M */
.fishPage, .emperorPage{
    & .homeArea{
        & > div{
            &::before{margin-bottom: 20px;}
            & h2{font-weight: 700;}
            & mark{display: block; font-weight: 700; margin-bottom: 20px;}
            & p{margin-bottom: 40px;}
        }
    }
    & h3{font-weight: 700;}
    & mark{color: var(--colorPoint);}
    & .mainFunc{text-align: center;
        & mark{font-weight: 700; display: flex; justify-content: center; align-items: center; margin-bottom: 16px;
            &::before{content: ''; aspect-ratio: 1; background-position: center; background-size: cover;}
        }
        & p{font-weight: 300;}
    }
    & .detailFunc{--bg: var(--colorPlane02);
        & h3{text-align: center;}
        & [data-tab="btns"]{
            & > li{
                & button{
                    & b{font-size: 18px; font-weight: 700; line-height: 21px;}
                }
            }
        }
        & [data-tab="contents"]{
            & div{display: none;
                &.active{display: block;}
                & img{width: 100%;}
            }
        }
    }
}

/* 어복황제 */
.fishPage{--colorPoint: var(--colorPoint01);
    & .homeArea::before{background-image: url('../gif/gif01.gif');}
    & .mainFunc{overflow: hidden;
        & mark::before{background-image: url('../images/icon-calender.png');}
        & .fishSwiper{margin-inline: auto; overflow: visible;
            & .swiper-wrapper{
                & .swiper-slide{box-shadow: 0 0 60px 0px rgba(0,0,0,0.1);
                    & img{width: 100%;}
                }
            }
            & [class^="btn"]{--width: 80px; width: var(--width); aspect-ratio: 1; background: url('../images/icon-slider.png') no-repeat left top calc(var(--styleIdx) * var(--width) * -1)/ 100%; position: absolute; top: 50%; transform: translateY(-50%); z-index: 10; cursor: pointer;
                &[class$="prev"]{--styleIdx: 0; left: calc((var(--width) + 4%) * -1);}
                &[class$="next"]{--styleIdx: 1; right: calc((var(--width) + 4%) * -1);}
            }
        }
    }

    & .detailFunc [data-tab="btns"] > li button::before{background-image: url('../images/icon-fish.png');}
}

/* 어복황제M */
.emperorPage{--colorPoint: var(--colorPoint02);
    & .homeArea::before{background-image: url('../gif/gif02.gif');}
    & .mainFunc{
        & mark::before{background-image: url('../images/icon-fingerprint.png');}
        & p{margin-bottom: 20px;}
        & div{max-width: 1500px; height: 562px; margin-inline: auto; display: flex; flex-direction: column; justify-content: flex-end; align-items: center; padding: 79px; box-sizing: border-box;
            background-image: url('../images/emperor-main.png'); background-repeat: no-repeat; background-position: center; background-size: 100%;
            & b{font-size: 16px; font-weight: 500; line-height: 21.5px; margin-bottom: 20px;}
            & small{font-size: 15px; font-weight: 300; line-height: 19px; color: var(--colorFont02);}
        }
    }
    & .detailFunc{
        & h3{margin-bottom: 60px;}
        & [data-tab="btns"] > li button::before{background-image: url('../images/icon-emperor.png');}
        & .smartArea{display: flex; flex-wrap: wrap; --spacing: 30px; gap: var(--spacing); padding: var(--spacing); background-color: white; position: relative;
            &::before{content: ''; position: absolute; inset: 0 var(--spacing) auto; border-top: 1px dashed var(--colorLine);}
            & li{width: calc((100% - var(--spacing)) / 2);
                & b{font-size: 15px; font-weight: 700; line-height: 18px; display: flex; align-items: center;
                    &::before{content: ''; --width: 24px; width: var(--width); aspect-ratio: 1; 
                        background-image: url('../images/icon-emperor01.png'); background-repeat: no-repeat; background-position-x: 0; background-position-y: calc(var(--styleIdx) * var(--width) * -1); background-size: 200%; margin-right: 7px;
                    }
                }
                & p{font-size: 14px; font-weight: 300; line-height: 18.6666px; color: var(--colorFont01); margin-top: 5px;}
            }
        }
        & [data-tab="btns"] > li.active .smartArea{color: white; background-color: #374dba;
            &::before{display: none;}
            & li{
                & b::before{background-position-x: calc(var(--width) * -1);}
                & p{color: rgba(255, 255, 255, 0.8);}
            }
        }
    }
}


/* 회사소개 */
.aboutUsPage{
    & .homeArea{color: white; text-align: center; padding-block: 140px 160px; background: url('../images/aboutUs-bg.png') no-repeat center bottom / cover;
        & img{width: 110px; margin-bottom: 40px;}
        & strong{display: block; font-size: 24px; font-weight: 700; line-height: 29px; margin-bottom: 20px;}
        & p{font-size: 16px; font-weight: 500; line-height: 22.3333px; color: rgba(255, 255, 255, 0.7);}
        & div{display: flex; justify-content: center; align-items: center; margin-top: 60px; gap: 20px;
            & a{width: 240px; font-size: 16px; font-weight: 700; line-height: 60px; border: 1px solid white;}
        }
    }
    & section{
        & h2{font-size: 40px; font-weight: 700; line-height: 48px; text-align: center; margin-bottom: 60px;}
        & address{display: flex; justify-content: space-between; align-items: flex-start;
            & img{width: 57.6271%;}
            & > div{width: 35.5932%; min-width: 366px;
                & dl{padding-block: 30px 40px; border-bottom: 1px dashed var(--colorLine);
                    & dt{font-size: 18px; font-weight: 700; line-height: 21px; margin-bottom: 15px;}
                    & dd{font-size: 15px; font-weight: 300; line-height: 20px;
                        &:not(:last-child){margin-bottom: 40px;}
                    }
                }
                & div{display: flex; align-items: center; padding-block: 40px;
                    & :not(:last-child){margin-right: 40px;}
                    & b{font-size: 18px; font-weight: 700;}
                    & a{font-size: 15px; font-weight: 300; display: flex; align-items: center;
                        &::before{content: ''; --width: 20px; width: var(--width); aspect-ratio: 1; background: url('../images/icon.png') no-repeat left top calc(var(--styleIdx) * var(--width) * -1) / 200%; margin-right: 7px;}
                        & span{text-decoration: underline;}
                    }
                }
            }
        }
    }
}


/* FAQ */
.faqPage{
    & h2{font-size: 40px; font-weight: 700; line-height: 48px; text-align: center; margin-bottom: 60px;}
    & [data-formData="btns"]{display: flex; justify-content: center; align-items: center; margin-bottom: 40px;
        & li{
            & button{font-size: 20px; font-weight: 700; line-height: 24px; padding-inline: 30px;}
            &:is(.active, :hover) button{color: var(--colorPoint01);}
        }
    }
    & [data-formData="contents"]{border-top: 1px solid var(--colorFont);
        & li{border-bottom: 1px solid var(--colorLine);
            & button{width: 100%; font-size: 18px; font-weight: 300; line-height: 100px; text-align: left; padding-inline: 30px 20px; position: relative;
                &::after{content: ''; position: absolute; width: 42px; aspect-ratio: 1; right: 20px; top: 50%; transform: translateY(-50%); background: url('../images/arrow-dwon.png') no-repeat center / cover;}
            }
            & pre{display: none; font-size: 16px; font-weight: 300; line-height: 24.25px; margin: 0; padding: 40px 30px 80px; background-color: #f8f8f8;}

            &.active pre{display: block;}
            &.active button, button:hover{font-weight: 700;}
        }
    }
}